main {
  &.categoriesSearchHolder {
    display: grid;
    grid-template-columns: 3fr 7fr;
    gap: 30px;

    .businessListHolder {
      > h2 {
        text-align: left;
        font-size: 1.4rem;
        margin: 0 0 2rem 0;
      }
    }
    @include for-medium {
      grid-template-columns: 1fr;
    }
  }
}