main {
  &.categories-search-holder {
    display: grid;
    grid-template-columns: 3fr 7fr;
    gap: 30px;

    .business-list-holder {
      > h2 {
        text-align: left;
        font-size: 1.4rem;
        margin: 0 0 2rem 0;
      }
    }
    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }
}