.search-holder {
  display: flex;
  justify-content: center;
  padding: 2rem;

  form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 30%;

    input {
      height: 64px;
      border-radius: 32px;
      border: 2px solid #dee1e2;
      padding: 0 1rem;
      width: 100%;
      font-size: 1rem;
    }
    .search.btn-primary {
      max-width: 64px;
      min-width: 64px;
      max-height: 64px;
      padding: 1.2rem !important;

      svg {
        font-size: 23px;
      }
    }
   
  }
  @media (max-width: 1024px) {
    form {
      width: 50%;
    }
  }
  @media (max-width: 768px) {
    padding: 1rem 0;
    
    form {
      width: 80%;
    }
  }
  @media (max-width: 420px) {
    form {
      width: 100%;
    }
  }
}
  