#root {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  line-height: 1;

  * {
    box-sizing: border-box;
  }
  .btn-primary {
    padding: 1rem 1.5rem;
    background-color: #8056eb;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
  
    &.round {
      border-radius: 50%;
    }
    &.small {
      padding: 0.5rem 1rem;
    }
    &:hover {
      background-color: #5b24e7;
    }
    @media (max-width: 768px) {
      padding: 1rem;
    }
  }
  a {
    &:hover {
      text-decoration: underline;
    }
  }
  h1 {
    @media (max-width: 768px) {
      font-size: 2rem;
    }
  }
}
