main {
  padding: 6rem 4rem 2rem 4rem;

  > h1 {
    font-size: 3.5rem;
    line-height: 1.4;
    margin: 0;

    span {
      color: #8056eb;
    }
  }
  .subtitle {
    color: #a8a8a8;
    font-size: 1.5rem;
    padding: 1rem;
    margin: 0;
  }
  .categoriesHolder {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 2rem;
    gap: 1rem;
  }
  .servicesTitle {
    text-align: left;
    font-size: 1.2rem;
    margin: 2rem 0;
  }
  @include for-large {
    padding: 6rem 2rem 1rem 2rem;
  }
  @include for-medium {
    padding: 6rem 1rem 1rem 1rem;
  }
}
  